<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    
    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<!-- 放在 </body> 前，替换之前的脚本 -->
<script src="https://unpkg.com/mermaid@10.9.1/dist/mermaid.min.js"></script>
<script>
  if (window.mermaid) {
    document.addEventListener('DOMContentLoaded', function() {
      mermaid.initialize({ startOnLoad: true });
    });
  }
</script>

</body>

</html>